:root {
  --background: #ffffff;
  --background-elements: #F5F4FA;
  --footer-color: #2F303A;
  --footer-cont-color: rgba(255, 255, 255, 0.6);
  --footer-hover-text-one: rgba(255, 255, 255, 0.8);
  --footer-hover-text-two: rgba(255, 255, 255, 0.4);
  --footer-hover-accent: rgba(33, 149, 243, 0.9);
  --second-btn-color:#188CE8;
  --accent-color: #2196F3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --p-title-color: #757575;  
}
/* 
*,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--background);
}
p,
h1,
h2,
h3{
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
img {
  display: block;
}
/* Общие стили для всех кнопок */
.btn{
  display: inline-block;  /*Делает из строчного элемента строчно-блочный чтоб задать вертикальные паддинги*/
  font-family: Roboto;
  border-radius: 4px;
  border: transparent; /* Убирает рамку */
  cursor: pointer; /*Меняет курсор на палец при наведении*/
}
/* Убирает маркеры в списках */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Убирает нижнее подчеркивание всех ссылок */
.links {
  /* display: inline-block; */
  text-decoration: none;
  color: var(--second-title-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contanier{
  width: 1200px;
  margin: 0 auto; 
  padding: 0 15px;
  box-sizing: border-box; /*Размеры внутри этого блока теперь считаются от края бордера вовнутрь*/
  /* outline: 2px solid tomato; */
}

/* ------------------HEADER------------------- */
.header{
  box-sizing: border-box;
  background-color: var(--background);
}
.contanier-flexbox{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

/* У класса <div class="contanier-flexbox"> есть три ребенка:
1. <a class="logo logo-header">
2. <nav class="nav">
  2.1 <ul class=" list site-nav">
    2.1.1 <li clas="site-nav-item">
      2.1.1.1 <a class="link site-nav-link"
3. <ul class="list contacts">
*/

.logo-header{
  color:var(--second-title-color);
  margin-right: 94px;    /*----------*/
}

.logo-header:hover,
.logo-header:focus,
.logo-footer:hover,
.logo-footer:focus,
.site-nav-link:hover,
.site-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
  color: var(--accent-color);
}

.site-nav{
  display: flex;
  margin-right: 331px;
}
.site-nav-item{
  margin-right: 50px;
}
.site-nav-item:last-child{
	margin-right: 0;
}

.site-nav-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-title-color);
}
.accent{
  color: var(--accent-color);
}

.contacts{
  display: flex;
  align-items: center;
}
.contacts-item{
  margin-right: 50px;
}
.contacts-item:last-child{
	margin-right: 0;
}
.contacts-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-title-color); 
}

/* --------------------MAIN-------------------- */
/*        -------------HERO---------------     */
.section-title{
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
}


.hero {
  background-color: var(--footer-color);
  text-align: center;
  padding-TOP: 200px;
  padding-bottom: 200px;
}
.main-heading{
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
}
.hero-btn{
  padding: 10px 32px; /*10 вертикальные 32 гоизонтальные*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--background);
}
.hero-btn:hover{
  background: var(--second-btn-color);
}

/* -----------------------BENEFITS-------------- */
.section{
  box-sizing: border-box;
  padding-top: 47px;
  padding-bottom: 47px;
}

.flex-list{
  display: flex;
}
.flex-blank{
  margin-right: 30px;
}
.flex-blank:last-child{
	margin-right: 0;
}
.benefits-title{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.benefits-text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}
/* --------------------SPECIFICATION-------------- */
/* -----------------------TEAM-------------------- */
.team{
  background-color: var(--background-elements);
  padding-bottom: 94px;
}
.team-blank{

margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-blank:last-child{
	margin-right: 0;
}
.team-img{
  margin-bottom: 30px;
}

.team-title{
  margin-bottom: 10;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;    
  text-align: center;
  color: var(--second-title-color)
}
.team-text{
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}


/* -----Portfolio----------- */
.filter{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.filter-btn{
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  background: var(--background-elements);
}
.btn-accent{ 
  background: var(--accent-color);
  color: var(--background);
}
.filter-btn:hover,
.filter-btn:focus{
  background-color: var(--second-btn-color);
  color: var(--background);
}
.portfolio-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.portfolio-text{
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}
/* --------------------FOOTER-------------------- */
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}
.logo-footer{
  display: block;
  padding-bottom: 20px;
  color: var(--background);
}
.footer-list{
  display: block;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background);
}
.footer-cont-color{
  color: var(--background);
}
.footer-cont{
  color: var(--footer-cont-color);
}
.footer-list:last-child{
	padding-bottom: 0;
}
.footer-cont-color:hover,
.footer-cont-color:focus{
  color: var(--footer-hover-text-one);
}
.footer-cont:hover,
.footer-cont:focus{
  color: var(--footer-hover-text-two);
}