:root {
  --background: #ffffff;
  --background-elements: #F5F4FA;
  --footer-color: #2F303A;
  --footer-text: rgba(255, 255, 255, 0.6);
  --footer-hover-text-one: rgba(255, 255, 255, 0.8);
  --footer-hover-text-two: rgba(255, 255, 255, 0.4);
  --footer-hover-accent: rgba(33, 149, 243, 0.9);
  --second-btn-color:#188CE8;
  --accent-color: #2196F3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --p-title-color: #757575;  
}
/* 
*,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--background);
}
p,
h1,
h2,
h3{
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
img {
  display: block;
}
/* Общие стили для всех кнопок */
.btn{
  display: inline-block;  /*Делает из строчного элемента строчно-блочный чтоб задать вертикальные паддинги*/
  font-family: Roboto;
  border-radius: 4px;
  border: transparent; /* Убирает рамку */
  cursor: pointer; /*Меняет курсор на палец при наведении*/
}
/* Убирает маркеры в списках */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Убирает нижнее подчеркивание всех ссылок */
.link {
  /* display: inline-block; */
  text-decoration: none;
  color: var(--second-title-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contanier{
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 15px;
  box-sizing: border-box;
  outline: 2px solid red;
}

/* ------------------HEADER------------------- */
.header{
  box-sizing: border-box;
  background-color: var(--background);
  border-bottom: 1px solid #ececec;
}
.contanier-flexbox{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.logo-header{
  color:var(--second-title-color);
  margin-right: 93px;
  }
.site-nav{
  display: flex;
  margin-right: 331px;
}
/* Стилизация линков в хедере */
.site-nav-link{
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-title-color);
}

.site-nav-item:not(last-child){
  outline: 2px solid red;
}

.contacts{
  display: flex;
}
.contacts-link{
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-title-color); 
}
.contacts-link:last-child {
  outline: 2px solid red;
}
.accent{
  color: var(--accent-color);
}
.logo-header:hover,
.logo-header:focus,
.logo-footer:hover,
.logo-footer:focus,
.site-nav-link:hover,
.site-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
  color: var(--accent-color);
}
/* --------------------MAIN-------------------- */
.section-title{
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
}
.section-text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}
.hero {
  background-color: var(--footer-color);
  text-align: center;
  min-height: 600px;
  padding: 200px 0px;

  /* outline: 2px solid red;  */
  /* background-color: tomato; */
}

.main-heading{
  margin: 0 auto;
  /* margin-top: 0;
  margin-bottom: 0; */
  width: 696px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);

  /* outline: 2px solid red;  */
  /* background-color: tomato; */
}
.hero-btn{
  padding: 10px 32px; /*10 вертикальные 32 гоизонтальные*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--background);
}
.hero-btn:hover{
  background: var(--second-btn-color);
}
.specifications{
  background-color: #4caf50;
  padding-top: 94px;
  padding-bottom: 94px;
}
.cpecif-title{
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.specif-text{
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}
/* --------------OCCUPATION------- */
.occupation{
}

/* ----------TEAM---------- */
.team{
  background-color: var(--background-elements);
  font-size: 16px;
  line-height: 1.19;
}
.team-title{
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;    
  text-align: center;
  color: var(--second-title-color)
}
.team-text{
  margin-top: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}
/* -----Portfolio----------- */
.filter{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.filter-btn{
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  background: var(--background-elements);
}
.btn-accent{ 
  background: var(--accent-color);
  color: var(--background);
}
.filter-btn:hover,
.filter-btn:focus{
  background-color: var(--second-btn-color);
  color: var(--background);
}
.portfolio-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.portfolio-text{
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}
/* --------------------FOOTER-------------------- */
.footer{
  background-color: var(--footer-color);
}
.logo-footer{
  color: var(--background);
}
.footer-adres{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background);
}
.footer-contacts{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text);
}
.footer-adres:hover,
.footer-adres:focus{
  color: var(--footer-hover-text-one);
}
.footer-contacts:hover,
.footer-contacts:focus{
  color: var(--footer-hover-text-two);
}